/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital@1&display=swap");
.blogs-title {
  text-align: center;
  color: #37a4ae;
  font-weight: 500;
  font-family: "Lobster";
}

.blogs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* Responsive part */
@media only screen and (max-width: 576px) {
  .blogs-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .blogs-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
